# ignore generals
.idea

# ignored directories
var/
vendor/
src/vendor/
src/frontend/lib/

# ignored files
test*

# ignored packages
# php
php/
configure.bat
configure.js
run-tests.php

#composer
composer.phar
composer.lock
src/composer.json