Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Origin-Methods "*"
Header always set Access-Control-Origin-Headers "*"


RewriteEngine On

RewriteCond %{SERVER_PORT} ^8090$ [OR]
RewriteCond %{HTTP_HOST} ^backend.timetracker.de$
RewriteRule ^(contentLoader|dataHandler).php$ /src/$1.php?%{QUERY_STRING} [S=1]

RewriteCond %{REQUEST_URI} -d
RewriteCond %{REQUEST_URI} -f
RewriteRule "(.*)" "notfound.php?file=$1&file2=$2&file3=$3"

