<div class="container">
    <div class="col-12-lg dashboard">
        <div class="row time-track--list">
            <div class="col-9-lg time-track--list">
                <select class="form-control" name="timetracking" multiple disabled></select>
            </div>
            <div class="col-3-lg time-track--list">
                <select class="form-control" name="timetracking" multiple disabled></select>
            </div>
        </div>
        <div class="row time-track--list">
            <div class="col-3-lg time-track--list">
                <button id="btn-start" class="btn" onclick=""></button>
            </div>
            <div class="col-3-lg time-track--list">
                <button id="btn-break" class="btn" onclick=""></button>
            </div>
            <div class="col-3-lg time-track--list">
                <button id="btn-end" class="btn" onclick=""></button>
            </div>
            <div class="col-3-lg time-track--list">
                <button id="btn-pdf" class="btn" onclick=""></button>
            </div>
        </div>
    </div>
</div>