<div class="col-12-lg login-area">
    <input type="hidden" name="action" value="login">
    <div class="row username--input-field">
        <span class="d-block">
            <label for="username-field">Username:</label>
        </span>
        <span class="d-block">
            <input type="text" id="username-field" class="form-control" name="username" placeholder="Username eintippen">
        </span>
    </div>
    <div class="row password--input-field">
        <span class="d-block"><label for="password-field">Passwort:</label></span>
        <span class="d-block">
            <input type="password" id="password-field" class="form-control" name="password" placeholder="Passwort eintippen">
        </span>
    </div>
</div>
<div class="col-12-md row button-field">
    <button type="button" class="btn primary" onclick="login()">Login</button>
</div>