<div class="container">
    <h3>Userprofil</h3>
    <div class="inner profile-area">
        <div class="row input-field">
            <div class="col-3"><label for="username-field">Username:</label></div>
            <div class="col-9"><input type="text" id="username-field" class="form-control" name="username" placeholder=""></div>
        </div>
        <div class="row input-field">
            <div class="col-3"><label for="email-field">Email:</label></div>
            <div class="col-9"><input type="text" id="email-field" class="form-control" name="email" placeholder=""></div>
        </div>
        <div class="row input-field">
            <div class="col-3"><label for="fname-field">Vorname:</label></div>
            <div class="col-9"><input type="text" id="fname-field" class="form-control" name="first_name" placeholder=""></div>
        </div>
        <div class="row input-field">
            <div class="col-3"><label for="lname-field">Nachname:</label></div>
            <div class="col-9"><input type="text" id="lname-field" class="form-control" name="last_name" placeholder=""></div>
        </div>
        <div class="row input-field">
            <div class="col-3"><label for="hired-field">Eingestellt am:</label></div>
            <div class="col-9"><input type="text" id="hired-field" class="form-control" name="hired" placeholder=""></div>
        </div>
    </div>
    <div class="row button-field">
        <button type="button" class="btn btn-save" onclick="save_data()">Speichern</button>
    </div>
    <hr/>
    <div class="row change-password">
        <div class="col-3"><label for="change-password">Passwort &aauml;ndern:</label></div>
        <div class="col-9"><input type="password" id="change-password" class="form-control" name="password" placeholder="(mind:8Zeichen; 1 Zahl; 1 kl Buchstaben; 1 gr Buchstaben; 1 Sonderzeichen)"></div>
    </div>
    <div class="row button-field">
        <button type="button" class="btn btn-save" onclick="save_data()">Speichern</button>
    </div>
</div>
