<div class="container">
    <div class="col-12-lg row register-area">
        <div class="row username--input-field">
            <label for="username-field">Username:</label>
            <input type="text" id="username-field" class="form-control" name="username" placeholder="Username eintippen">
        </div>
        <div class="row password--input-field">
            <label for="password-field">Passwort:</label>
            <input type="password" id="password-field" class="form-control" name="password" placeholder="Passwort eintippen">
        </div>
        <div class="row email--input-field">
            <label for="email-field">Email:</label>
            <input type="text" id="email-field" class="form-control" name="email" placeholder="Email eintippen">
        </div>
    </div>
    <div class="col-12-md row button-field">
        <button type="button" class="btn btn-register" onclick="register_user()">Registrieren</button>
    </div>
</div>