<div class="container">
    <h3>Userregistrierung</h3>
    <div class="col-12-lg row register-area">
        <input type="hidden" name="action" value="register" />
        <div class="row input-field">
            <label for="username-field">Username: *</label>
            <input type="text" id="username-field" class="form-control" name="username" placeholder="Username eintippen">
        </div>
        <div class="row input-field">
            <label for="password-field">Passwort: *</label>
            <input type="password" id="password-field" class="form-control" name="password" placeholder="Passwort eintippen">
        </div>
        <div class="row input-field">
            <label for="email-field">Email: *</label>
            <input type="text" id="email-field" class="form-control" name="email" placeholder="Email eintippen">
        </div>
        <div class="row input-field">
            <label for="fname-field">Vorname:</label>
            <input type="text" id="fname-field" class="form-control" name="first_name" placeholder="Vorname eintippen">
        </div>
        <div class="row input-field">
            <label for="lname-field">Nachname:</label>
            <input type="text" id="lname-field" class="form-control" name="last_name" placeholder="Nachname eintippen">
        </div>
        <div class="row input-field">
            <label for="employee-field">Personal-Nr:</label>
            <input type="text" id="employee-field" class="form-control" name="employee_nr" placeholder="Personal-Nr eintippen">
        </div>
        <div class="row input-field">
            <label for="hired-field">Eingestellt am:</label>
            <input type="text" id="hired-field" class="form-control" name="hired" placeholder="Einstellungstag(YYYY-MM-DD) eintragen">
        </div>
        <div class="row input-field">
            <label for="status-field">Status:</label>
            <select type="text" id="status-field" class="form-control" name="status">
                <option value="0">inaktiv</option>
                <option value="1">Angestellter(User)</option>
                <option value="7">Sachbearbeiter</option>
                <option value="8">Chef</option>
                <option value="9">Admin</option>
            </select>
        </div>
    </div>
    <div class="col-12-md row button-field">
        <button type="button" class="btn btn-register" onclick="register_user()">Registrieren</button>
    </div>
</div>