.balance {
  .tracking-list {
    ul {
      margin-top: 10px;
      li {
        margin: 0 5px;
        //padding: 5px;
        list-style-type: none;
      }
    }

    .week {
      margin: 20px 0;

      h6 {cursor:pointer}
      ul li {display: none}
    }
  }


  .tracked-months {
    margin: 20px 0;

    #tracked_months {
      min-height: 300px;
      width: 120px;
    }

    #btn-pdf {
      width: 100%;
      margin: 10px 0;
    }
  }
}