.dashboard {
  margin: auto;
  .btn {
    background-image: linear-gradient(whitesmoke, @color-theme-green);
    border: solid 1px @header-background;
  }

//  --- tracking ---

  .tracking-list {
    #tracking_list {
      width: 250px;
    }

    #tracked_months {
      width: 100px;
    }
  }

  //  --- timestamp-changing ---


  .change-time--box {
    width: 400px;
  }
}