.dashboard {
  margin: auto;

   .button-field {
     margin: 20px 30px;
     padding: 0 50px;

     .btn.track {
       width: 200px;
     }
   }

//  --- tracking ---

  .tracking-list {
    margin: auto;
    padding: 0 50px;
    width: 600px;

    #tracking_list {
      width: 350px;
      margin: 0 10px;
    }
  }

  //  --- timestamp-changing ---


  .change-time--box {
    width: 600px;

    .form-group {
      width: 300px;
    }

    .btn {

    }
  }
}