@header-background: #6c757d;
@footer-background: darkred;
@color-theme-green: yellowgreen;
@width-login: 400px;


* {
  margin: 0;
  padding: 0;
}

.d-block {
  width: 100%;
}
.d-inline {
  display: inline;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

header {
  width: 100%;
  min-height: 100px;

  background-color: @header-background;


  h1 {
    color: #e2e2e2;
    text-align: center;
  }

  ul {
    list-style-type: none;
    display: flex;

    position: absolute;
    top: 60px;
    right: 15px;

    a {
      margin: 10px;
      font-weight: 500;
      color: @color-theme-green;
    }
    a:hover {
      color: whitesmoke;
      text-decoration: underline;
    }
  }
}

.wrapper {
  min-height: 1000px;

  .container {
    min-height: 500px;
    width: 700px;
    margin: auto;
    padding: 30px 10px;

    background-color: beige;
    color: #525252;

    p {
      width: 100%;
      margin: 10px 0;
    }

    :after {
      height: 300px;
      position: static;

    }
  }
}

footer {
  width: 100%;
  min-height: 100px;
  max-height: 300px;

  position: fixed;
  bottom: 0;

  background-color: @footer-background;
}

.btn {
  margin: 0 10px;

  background-image: linear-gradient(whitesmoke, rgba(@color-theme-green, 0.7));
  border: solid 1px @header-background;
}

.input-field {
  background-color: darkgrey;
  width: 550px;
  margin: 5px 15px;
  padding: 5px 30px;

  label {
    font-size: 1.2rem;
  }
}

#user-field {
  font-style: italic;
  color: @color-theme-green;
}

@import 'dashboard.less';
@import 'login.less';
@import 'balance.less';
